<%- include ("partials/header.ejs") %>

<div class="selected-product">
</div>
<div class="product-list">
    <% products.forEach(item => { %>
        <a href="/product/<%-item.productCategory %>">
        <ul class="collapsible">
            <li class="collapsible-header">
                    <img src="/<%-item.img%>">
                <div>
                    <h2><%- item.productCategory %></h2>
                    <h3><b><%- item.productCount %> Items</b></h3>
                </div> 
            </li>
        </ul>
    </a>
    <%}) %>
</div>
<%- include ("partials/footer.ejs") %>