<%- include ("partials/header.ejs") %>
<div class="category-enclosure">
<div class="searchbar" >
    <input type="text" placeholder="Search For Product... ">
    <i class="material-icons">search</i>  
</div>


<div class="category-product-list">
  <!-- <div class="category-bar hideme" >
    <h1><%-category%></h1>
</div> -->

    <% products.forEach(item => { %>
      <div class="category-item-container">
            <ul class="collapsible">
                <li>
                  <div class="collapsible-header category-item">
                      <div class="category-product-list-img">
                        <img src="<%-item.img%>">
                      </div>
                    <div class="category-title">
                        <h2><%- item.name %></h2>
                        <h3><%- item.price %></h3>
                    </div>
                  </div>
                  <div class="collapsible-body category-content"><span>Lorem ipsum dolor sit amet. This is some content that is describing the item.</span></div>
                </li>
                <li>
            </ul>
          </div>
    <%}) %>

</div>
</div>
<%- include ("partials/footer.ejs") %>

