<%- include ("partials/header.ejs") %>
<div class="category-enclosure">
<div class="container">
  <div class="row">
    <div class="col s12">
        <div class="category-list">
          <!-- <div class="category-bar hideme" >
            <h1><%-category%></h1>
        </div> -->
        <div class="searchbar" >
          <input type="text" placeholder="Search For Product... ">
          <i class="material-icons">search</i>  
        </div>
    
            <% products.forEach(item => { %>
              <div class="floating-product-img disabled" id="<%- item.id %>">
                <img src="<%- item.img %>">
              </div>
              <div class="floating-customization-menu disabled" id="<%- item.id %>">
                <div class="customize-header">
                  <h1>Chocolate Chip</h1>
                  <h2>$8.33</h2>
                </div>
                <div class="customize-body">
                  <form action="#">
                      <ul class="collection">
                        <li class="collection-item"> 
                          <div>
                            <p>
                            <label>
                              <input type="checkbox" class="filled-in" checked="checked" />
                              <span> Choc Syrup</span>
                            </label>
                          </p>
                        </div>  
                        <div>
                          <a href=""><i class="material-icons">remove_circle_outline</i></a>
                          <p>4</p>
                          <a href=""><i class="material-icons">add_circle_outline</i></a>
                        </div>
                        <div>
                          <h2>$10.00</h2>
                        </div>
                      </li>
                      </ul>
                  </form>
                </div>
                <div class="customize-footer">
                  <div>
                    <h2>Total</h2>
                    <h2>$21.00</h2>
                  </div>
                  <div class="customize-footer-btns">
                      <a class="waves-effect waves-light btn">Cancle</a>
                      <a class="waves-effect waves-light btn">Add to Cart</a>
                  </div>
                </div>
              </div>
              <div class="card category-card">
                <div class="card-image waves-effect waves-block waves-light product-img">
                  <img src="<%-item.img%>">
                  <i class="image-expand-button fas fa-expand-alt" id="<%- item.id %>"></i>
                </div>
                <div class="card-content category-card-content">
                    <div class="category-card-title">
                      <span class="card-title activator grey-text text-darken-4"><%- item.name %></span>
                      <p>$<%- item.price %></p>
                  </div>
                  <div class="card-btns">
                    <div>
                      <i class="fas fa-angle-up activator"></i>
                    </div>
                    <div>
                      <a href=""><button>Add to Cart</button></a>
                    </div>
                   
                  </div>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4"><%- item.name %><i class="material-icons right">close</i></span>
                  <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
              </div>
            <%}) %>
          </div>
    </div>
  </div>
</div>
<%- include ("partials/footer.ejs") %>

