<%- include ("partials/header.ejs") %>
<div class="category-enclosure">
<div class="searchbar" >
    <input type="text" placeholder="Search For Product... ">
    <i class="material-icons">search</i>  
</div>

<div class="category-bar hideme" >
    <h1><%-category%></h1>
</div>
<div class="category-product-list">
    <% products.forEach(item => { %>
        <a href="/product/<%- item.category %>/<%- item.id %>">
    <div class="category-item">
        <div class="category-item-name">
            <div>
                <h2><%- item.name %></h2>
            </div>
        </div>
        <div class="category-img">
            <img src="<%-item.img%>">
        </div>
    </div>
</a>
    <%}) %>
</div>
</div>
<%- include ("partials/footer.ejs") %>

