<%- include ("partials/header.ejs") %>
<div class="indidual-item-container">
    <a href="/<%-item.id%>">
        <div class="individual-item">
            <div class="individual-item-img">
                <img src="<%-item.img%>">
            </div>
            <div class="item-description">
                <div>
                    <div class="item-header">
                        <div>
                            <h2><%- item.name %></h2>
                            <h3><%- item.category %></h3>
                        </div>
                       <h2><%- item.price %></h2>
                    </div>
                    <p><%- item.description %></p>
                </div>
            </div>
        </div>
    </a>
</div>
<%- include ("partials/footer.ejs") %>