<%- include ("partials/header.ejs") %>
<!-- order nav container -->
<div class="order-nav-container">
  <div class="row">
    <div class="col s12">
      <ul class="tabs user-nav">
        <li class="tab col s3"><a>current</a></li>
        <li class="tab col s3"><a class="active" >cancelled</a></li>
        <li class="tab col s3 disabled"><a>completed</a></li>
      </ul>
    </div>
  </div>   
</div>
<!-- order carousel  -->
  <div class="orders-container">
    <div class="carousel carousel-slider center orders-carousel">
      <div class="carousel-item white-text" href="#one!">
        <div class="orders">
        <% orders.currentOrders.forEach(order => { %>
      <div>
          <div class="order-details">
          <div>
              <h2>Order Placed</h2>
              <h3><%- order.date %></h3>
          </div>
          <div>
              <h2>Total</h2>
              <h3><%- order.total %></h3>
          </div>
          <div>
            <h2>Delivery Location</h2>
              <h3><%- order.location %></h3>
          </div>
      </div>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Show items</div>
          <div class="collapsible-body">
            <div class="order-table">
              <table>
                  <thead>
                    <tr>
                        <th>Item Name</th>
                        <th>Item Price</th>
                    </tr>
                  </thead>
          
                  <tbody>
                  <%  order.products.forEach(p => { %>
                    <tr>
                      <td><%- p.name %></td>
                      <td>$<%- p.price %></td>
                    </tr>
                 <% }) %>
                  </tbody>
                </table>
              </div>
          </div>
        </li>
        </ul>

     
         </div>
         <% }) %>
        </div>
      </div>
      <div class="carousel-item white-text" href="#two!">
            <div class="orders">
        <% orders.cancelledOrders.forEach(order => { %>
      <div>
          <div class="order-details">
          <div>
              <h2>Order Placed</h2>
              <h3><%- order.date %></h3>
          </div>
          <div>
              <h2>Total</h2>
              <h3><%- order.total %></h3>
          </div>
          <div>
              <h2>Delivery Location</h2>
              <h3><%- order.location %></h3>
          </div>
      </div>
     
      <ul class="collapsible">
        <li>
          <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Show items</div>
          <div class="collapsible-body">
            <div class="order-table">
              <table>
                  <thead>
                    <tr>
                        <th>Item Name</th>
                        <th>Item Price</th>
                    </tr>
                  </thead>
          
                  <tbody>
                  <%  order.products.forEach(p => { %>
                    <tr>
                      <td><%- p.name %></td>
                      <td>$<%- p.price %></td>
                    </tr>
                 <% }) %>
                  </tbody>
                </table>
              </div>
          </div>
        </li>
        </ul>
         </div>
         <% }) %>
        </div>
      </div>
      <div class="carousel-item white-text" href="#three!">
            <div class="orders">
        <% orders.completedOrders.forEach(order => { %>
      <div>
          <div class="order-details">
          <div>
              <h2>Order Placed</h2>
              <h3><%- order.date %></h3>
          </div>
          <div>
              <h2>Total</h2>
              <h3><%- order.total %></h3>
          </div>
          <div>
            <h2>Delivery Location</h2>
            <h3><%- order.location %></h3>
          </div>
      </div>
     
      <ul class="collapsible">
        <li>
          <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Show items</div>
          <div class="collapsible-body">
            <div class="order-table">
              <table>
                  <thead>
                    <tr>
                        <th>Item Name</th>
                        <th>Item Price</th>
                    </tr>
                  </thead>
          
                  <tbody>
                  <%  order.products.forEach(p => { %>
                    <tr>
                      <td><%- p.name %></td>
                      <td>$<%- p.price %></td>
                    </tr>
                 <% }) %>
                  </tbody>
                </table>
              </div>
          </div>
        </li>
        </ul>
      </div>
         <% }) %>
        
      </div>
    </div>
    
  </div>
  </div>

  <div class="large-view-orders">
      <% orders.currentOrders.forEach(order => { %>
    <div class="order">
        <div class="order-details">
        <div>
            <h2>Order Placed</h2>
            <h3><%- order.date %></h3>
        </div>
        <div>
            <h2>Total</h2>
            <h3><%- order.total %></h3>
        </div>
        <div>
          <h2>Delivery Location</h2>
            <h3><%- order.location %></h3>
        </div>
    </div>
    <ul class="collapsible">
      <li>
        <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Show items</div>
        <div class="collapsible-body">
          <div class="order-table">
            <table>
                <thead>
                  <tr>
                      <th>Item Name</th>
                      <th>Item Price</th>
                  </tr>
                </thead>
        
                <tbody>
                <%  order.products.forEach(p => { %>
                  <tr>
                    <td><%- p.name %></td>
                    <td>$<%- p.price %></td>
                  </tr>
               <% }) %>
                </tbody>
              </table>
            </div>
        </div>
      </li>
      </ul>
       </div>
       <% }) %>
      </div>
  
<%- include ("partials/footer.ejs") %>