<%- include ("partials/header.ejs") %>
<div class="order-nav-container">
  <div class="row">
    <div class="col s12">
      <ul class="tabs user-nav">
        <li class="tab col s3"><a>pending</a></li>
        <li class="tab col s3"><a class="active" >history</a></li>
        <li class="tab col s3 disabled"><a>delivered</a></li>
      </ul>
    </div>
  </div>
        
</div>
  <div class="orders-container">
    <div class="carousel carousel-slider center orders-carousel">
      <div class="carousel-item white-text" href="#one!">
        <div class="orders">
        <% orders.pendOrders.forEach(order => { %>
      <div>
          <div class="order-details">
          <div>
              <h2>Order Placed</h2>
              <h3><%- order.date %></h3>
          </div>
          <div>
              <h2>Total</h2>
              <h3><%- order.total %></h3>
          </div>
      </div>
     
      <div class="divider order-divider"></div>

      <div class="order-table">
          <table>
              <thead>
                <tr>
                    <th>Item Name</th>
                    <th>Item Price</th>
                </tr>
              </thead>
      
              <tbody>
              <%  order.products.forEach(p => { %>
                <tr>
                  <td><%- p.name %></td>
                  <td>$<%- p.price %></td>
                </tr>
             <% }) %>
                <tr class="order-chart-total"> 
                  <td><b>Total:</b></td>
                  <td>$<%- order.total %></td>
                </tr>
              </tbody>
            </table>
          </div>
         </div>
         <% }) %>
        </div>
      </div>
      <div class="carousel-item white-text" href="#two!">
            <div class="orders">
        <% orders.pendOrders.forEach(order => { %>
      <div>
          <div class="order-details">
          <div>
              <h2>Order Placed</h2>
              <h3><%- order.date %></h3>
          </div>
          <div>
              <h2>Total</h2>
              <h3><%- order.total %></h3>
          </div>
      </div>
     
      <div class="divider order-divider"></div>

      <div class="order-table">
          <table>
              <thead>
                <tr>
                    <th>Item Name</th>
                    <th>Item Price</th>
                </tr>
              </thead>
      
              <tbody>
              <%  order.products.forEach(p => { %>
                <tr>
                  <td><%- p.name %></td>
                  <td>$<%- p.price %></td>
                </tr>
             <% }) %>
                <tr class="order-chart-total"> 
                  <td><b>Total:</b></td>
                  <td>$<%- order.total %></td>
                </tr>
              </tbody>
            </table>
          </div>
         </div>
         <% }) %>
        </div>
      </div>
      <div class="carousel-item white-text" href="#three!">
            <div class="orders">
        <% orders.pendOrders.forEach(order => { %>
      <div>
          <div class="order-details">
          <div>
              <h2>Order Placed</h2>
              <h3><%- order.date %></h3>
          </div>
          <div>
              <h2>Total</h2>
              <h3><%- order.total %></h3>
          </div>
      </div>
     
      <div class="divider order-divider"></div>

      <div class="order-table">
          <table>
              <thead>
                <tr>
                    <th>Item Name</th>
                    <th>Item Price</th>
                </tr>
              </thead>
      
              <tbody>
              <%  order.products.forEach(p => { %>
                <tr>
                  <td><%- p.name %></td>
                  <td>$<%- p.price %></td>
                </tr>
             <% }) %>
                <tr class="order-chart-total"> 
                  <td><b>Total:</b></td>
                  <td>$<%- order.total %></td>
                </tr>
              </tbody>
            </table>
          </div>
         </div>
         <% }) %>
        </div>
      </div>
    </div>
  </div>
  
<%- include ("partials/footer.ejs") %>