{{> navbar_customer }}
  <div class="orders-container">
    <div class="carousel carousel-slider center orders-carousel">
      <div class="carousel-item white-text" href="#one!">
        <div class="orders">
          <ul class="collapsible">
        {{#each orders.currentOrders}}
              <li>
                <div class="collapsible-header order-info-header"><i class="material-icons">arrow_drop_down</i><h2>{{date}}</h2></div>
                <div class="collapsible-body order-info-content">
          <div class="order-details">
          <div>
              <h3>Order Placed</h3>
              <h3>{{date}}></h3>
          </div>
          <div>
              <h3>Total</h3>
              <h3>{{total}}</h3>
          </div>
          <div>
            <h3>Location</h3>
              <h3>{{location}}</h3>
          </div>
      </div>
            <div class="order-table">
              <table>
                  <thead>
                    <tr>
                        <th><h4>Item Name</h4></th>
                        <th><h4>Item Price</h4></th>
                    </tr>
                  </thead>
          
                  <tbody>
                  {{#each products}}
                    <tr>
                      <td>{{name}}</td>
                      <td>${{price}}</td>
                    </tr>
                {{/each}}
                  </tbody>
                </table>
              </div>
          </div>
        </li>
         {{/each}}
        </ul>
        </div>
      </div>
      <div class="carousel-item white-text" href="#two!">
            <div class="orders">
              <ul class="collapsible">
        {{#each orders.cancelledOrders}}
          <li>
            <div class="collapsible-header order-info-header"><i class="material-icons">arrow_drop_down</i><h2>{{date}}</h2></div>
            <div class="collapsible-body order-info-content">
          <div class="order-details">
          <div>
              <h2>Order Placed</h2>
              <h3>{{date}}</h3>
          </div>
          <div>
              <h2>Total</h2>
              <h3>{{total}}</h3>
          </div>
          <div>
              <h2>Delivery Location</h2>
              <h3>{{location}}</h3>
          </div>
      </div>
     
     
            <div class="order-table">
              <table>
                  <thead>
                    <tr>
                        <th><h4>Item Name</h4></th>
                        <th><h4>Item Price</h4></th>
                    </tr>
                  </thead>
          
                  <tbody>
               {{#each products}}
                    <tr>
                      <td>{{name}}</td>
                      <td>${{price}}</td>
                    </tr>
                {{/each}}
                  </tbody>
                </table>
              </div>
          </div>
        </li>
         {{/each}}
        </ul>
        </div>
      </div>
      <div class="carousel-item white-text" href="#three!">
        <div class="orders">
          <ul class="collapsible">
        {{#each orders.completedOrders}}
          <li>
            <div class="collapsible-header order-info-header"><i class="material-icons">arrow_drop_down</i><h2>{{date}}</h2></div>
            <div class="collapsible-body order-info-content">
          <div class="order-details">
          <div>
              <h2>Order Placed</h2>
              <h3>{{date}}</h3>
          </div>
          <div>
              <h2>Total</h2>
              <h3>{{total}}</h3>
          </div>
          <div>
            <h2>Delivery Location</h2>
            <h3>{{location}}</h3>
          </div>
      </div>
            <div class="order-table">
              <table>
                  <thead>
                    <tr>
                        <th><h4>Item Name</h4></th>
                        <th><h4>Item Price</h4></th>
                    </tr>
                  </thead>
          
                  <tbody>
                {{#each products}}
                    <tr>
                      <td>{{name}}</td>
                      <td>${{price}}</td>
                    </tr>
                {{/each}}
                  </tbody>
                </table>
              </div>
          </div>
        </li>
         {{/each}}
        </ul>
      </div>
    </div>
  </div>
  </div>
  