{{> navbar_customer }}

<div id="user-info-container">
  <ul id="user-info-list" class="collapsible">
    <li>
      <div class="collapsible-header user-info-header">
        <div><i class="material-icons">person_outline</i>
          <h3>Name</h3>
        </div>
        <div class="user-info-current-tags">
          <p>{{user.username}}</p>
        </div>
      </div>
      <div class="collapsible-body user-info-content">
        <div class="input-field user-input-field">
          <input placeholder="{{user.username}}" id="first_name" type="text" class="validate">
        </div>
      </div>
    </li>
    <li>
      <div class="collapsible-header user-info-header">
        <div><i class="material-icons">email</i>
          <h3>Email</h3>
        </div>
        <div class="user-info-current-tags">
          <p>{{user.address}}</p>
        </div>
      </div>
      <div class="collapsible-body user-info-content">
        <div class="input-field user-input-field">
          <input placeholder="{{user.email}}" id="first_name" type="text" class="validate">
        </div>
      </div>
    </li>
    <li>
      <div class="collapsible-header user-info-header">
        <div><i class="material-icons">location_on</i>
          <h3>Location</h3>
        </div>
        <div class="user-info-current-tags">
          <p>{{user.address}}</p>
        </div>
      </div>
      <div class="collapsible-body user-info-content">
        <div class="input-field user-input-field">
          <input placeholder="{{user.address}}" id="first_name" type="text" class="validate">
        </div>

      </div>
    </li>
    <li>
      <div class="collapsible-header user-info-header">
        <div><i class="material-icons">phone</i>
          <h3>Phone Number</h3>
        </div>
        <div class="user-info-current-tags">
          <p>{{user.number}}</p>
        </div>
      </div>
      <div class="collapsible-body user-info-content">
        <div class="input-field user-input-field">
          <input placeholder="{{user.number}}" id="first_name" type="text" class="validate">
        </div>

      </div>
    </li>
    <li>
      <div class="collapsible-header user-info-header">
        <div><i class="material-icons">local_hospital</i>
          <h3>Allergies</h3><span class="badge"></span>
        </div>
        <div class="user-info-current-tags">
          <p>{{user.allergies.length}}</p>
        </div>
      </div>
      <div class="collapsible-body user-info-content">

        <div class="chip allergie-chip confirmed-allergie"><span></span></div>

        <div class="chip allergie-chip"><span></span></div>

      </div>
    </li>
  </ul>

</div>

{{!-- Customer User Handlers --}}

<script type="text/javascript" src="/handlers/customer_user_handlers.js">
</script>