<%- include ("partials/header.ejs") %>
<div class="user-info-container">
    <ul class="collapsible">
        <li>
          <div class="collapsible-header user-info-header"><i class="material-icons">person_outline</i>First</div>
          <div class="collapsible-body user-info-content">
            <div class="input-field user-input-field">
                <input placeholder="<%- userInfo.name %>" id="first_name" type="text" class="validate">
            </div>
            </div>
        </li>
        <li>
          <div class="collapsible-header user-info-header"><i class="material-icons">email</i>Second</div>
          <div class="collapsible-body user-info-content">
            <div class="input-field user-input-field">
                <input placeholder="<%- userInfo.email %>" id="first_name" type="text" class="validate">
            </div>
          </div>
        </li>
        <li>
          <div class="collapsible-header user-info-header"><i class="material-icons">location_on</i>Third</div>
          <div class="collapsible-body user-info-content">
            <div class="input-field user-input-field">
                <input placeholder="<%- userInfo.address %>" id="first_name" type="text" class="validate">
            </div>
               
            </div>
        </li>
        <li>
          <div class="collapsible-header user-info-header"><i class="material-icons">phone</i>Third</div>
          <div class="collapsible-body user-info-content">
            <div class="input-field user-input-field">
                <input placeholder="<%- userInfo.number %>" id="first_name" type="text" class="validate">
            </div>
              
          </div>
        </li>
        <li>
          <div class="collapsible-header user-info-header"><i class="material-icons">local_hospital</i>Third <span class="badge"><%- userInfo.allergies.length %></span></div>
          <div class="collapsible-body user-info-content">  
         <%  for(let i = 0; i < allergies.length; i++) { %>
             <% if(allergies[i] === userInfo.allergies[i]) { %>
                    <div class="chip allergie-chip confirmed-allergie"><%-allergies[i]%></div>
             <% } else { %>
                    <div class="chip allergie-chip"><%-allergies[i]%></div>
             <% } %>
          <%  } %>
          </div>
        </li>
      </ul>
</div>
<%- include ("partials/footer.ejs") %>